<header id="text">
    <h1>
        AkbarAuto
   </h1>
   <h2>
    Avtomobillar haqida
   </h2>        
        <nav>
            <ul>  
                 <li><a href="/">Uy</a></li>
                 <li><a href="/price">Avtomobillar</a></li>
                 <li><a href="/addcar">Avtomobil qidirish</a></li>
                 <li><a href="/about">Mashinalar haqida</a></li>
                 <li><a href="/login">Kirish</a></li>
                 <li><a href="/signup">Ro'yxatdan o'tish</a></li>
            </ul>
        </nav>
</header>